# Your Auth0 tenant domain
# Same AUTH_DOMAIN in the backend .env
VITE_AUTH0_DOMAIN=*****

# The Client ID of your SPA application
VITE_AUTH0_CLIENT_ID=*****

# The API audience identifier (must match your backend's AUTH0_AUDIENCE)
VITE_AUTH0_AUDIENCE=*****

# Your backend URL
VITE_API_URL=*****